

body {
	height:100vh;
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
}
  
.lovely {
	font-family: 'Parisienne', cursive;
	font-weight: bold;
	font-size: 3.8em;
	line-height: 1.5em;
	padding-bottom: 20px;
	-webkit-background-clip: text!important;
	-webkit-text-fill-color: transparent;
}

.designs {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	position: relative;
	right: 45px;
	bottom: 45px;
}

.web {
    color: #073b4c;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: .9em;
	font-weight: 400;
	position: relative;
	right: 45px;
	bottom: 45px;
} 

  
  
