

body {
	height:100vh;
	width:100%;
	/* display: flex; */
	justify-content: center;
	align-items: center;
}

#navbar {
	width: 100%;
}

#navbar .nav-link {
	color: #073b4c;
	font-family: 'Raleway', sans-serif;
	/* font-family: 'Montserrat Alternates', sans-serif; */
	font-size: 1.4em;
	font-weight: 500;
}

#navbar .about {
	color: red;
}

.logo {
	width: 70%;
	max-width: 700px;
	margin-top: 50px;
	margin-bottom: 200px;
	background: linear-gradient(to right, #7F7FD5, #86A8E7 30%, #91EAE4 99%);
	padding: 50px;
	border-radius: 60% 60% / 60% 60%;
	
}

.rows {
	text-align: center;
}
  
.lovely {
	font-family: 'Parisienne', cursive;
	font-weight: bold;
	font-size: 3.8em;
	line-height: 1.5em;
	padding: 20px;
	-webkit-background-clip: text!important;
	-webkit-text-fill-color: transparent;
}

.designs {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	position: relative;
	right: 45px;
	bottom: 45px;
}

.web {
    color: #262673;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: .9em;
	font-weight: 400;
	position: relative;
	right: 45px;
	bottom: 45px;
} 

  
  
